
<div class="login-div" *ngIf="hero">
    <mat-toolbar>
        <button mat-icon-button color="accent" matTooltip="Go Back" mat-button  (click)='goBack()'> <mat-icon>arrow_back</mat-icon></button>
        <span class="example-spacer"></span>
        <span class="toolbar-title">Hero Details</span>
        <span class="example-spacer"></span>
        <button mat-icon-button matTooltip="Edit" (click)="openDialog()" color="accent">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-toolbar>
      

      <div class="container" fxLayout="column" flexLayoutAlign="start start" fxLayoutGap="1%">
          <div fxFlex="40" class="banner">
            <img [src]="hero.imagePath" alt="Photo of {{hero.name}}">
          </div>
          <div class="content" fxFlex="60">
              <h2>Name: {{hero.name}}</h2>
              <h2>Description:</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur eveniet fuga officiis reiciendis unde distinctio eius, odit consequuntur aperiam minus libero, nostrum neque doloremque voluptatum.</p>
              <div style="font-style: oblique;"> 
                <span *ngIf="!hero.updatedBy" style="font-weight: bold;">Added By- {{hero.addedBy}}</span>
                <span *ngIf="hero.updatedBy" style="font-weight: bold;">Updated By- {{hero.addedBy}}</span>
              </div>
          </div>
         
      </div>
</div>
