<div *ngIf="hero" fx>
    <!-- Binding Data to new hero property and format with pipe -->
    <!-- <h3>{{hero.name | uppercase}} Details:</h3> -->
    <!-- <div><span>Id: </span>{{hero._id}}</div> -->
    <!-- <div><span>Name: </span>{{hero.name}}</div> -->

    <!-- two way binding using ngModel -->
    <!-- <div>
        <mat-label for="name">Hero Name: </mat-label>
        <input matInput type="text" [(ngModel)]="hero.name" id="name">
        <button (click)='save()'>Save</button>
    </div> -->

    <!-- <button (click)='goBack()'>Go Back</button> -->

    

    <mat-card class="hero-card"> 
        <mat-card-header>
        <mat-card-title *ngIf="!toEdit">
            {{hero.name | uppercase}}
            <a (click)="edit()"><mat-icon  class="edit-icon">edit</mat-icon></a>
        </mat-card-title>
        <mat-card-title *ngIf="toEdit">
            <mat-form-field>
                <mat-label>Hero name: </mat-label>
                <input matInput type="text" [(ngModel)]="hero.name" id="name">
            </mat-form-field>
            <button mat-raised-button (click)='save()'>Save</button>
        </mat-card-title>
        <mat-card-subtitle>Hero</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/avengers-workout.webp" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
            <button color="primary" mat-button (click)='goBack()'>Go Back <mat-icon>arrow_back</mat-icon></button>
        </mat-card-actions>
      </mat-card>
</div>

