/* h1 {
    margin-bottom: 0;
  }
  nav a {
    padding: 1rem;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #e8e8e8;
    color: #3d3d3d;
    border-radius: 4px;
  }
  
  nav a:hover {
    color: white;
    background-color: #42545C;
  }
  nav a.active {
    background-color: black;
  } */

  

  mat-sidenav-container{
    height: 100%;
    /* background-color:rgb(244, 247, 255); */
  }
  mat-sidenav{
    /* background-color:blue; */

    /* make it auto */
    width: 200px;
    /* height: 100%; */
  }

  mat-sidenav .hide{
    display: none;
  }

  .nav-menu{
    margin-left: 20px;
  }

  

 