<div class="logs">
    <div *ngIf="messageService.messages.length; else elseBlock">
        <h2>Messages</h2>
        <button mat-fab  matTooltip="Clear Logs" color="warn" class="clear" (click)='messageService.clear()'><mat-icon>delete</mat-icon></button>
        <mat-list>
            <mat-list-item *ngFor="let message of messageService.messages"><mat-icon color="accent" mat-list-icon>view_list</mat-icon> {{message}}</mat-list-item>
        </mat-list>
        
    </div>
    <ng-template #elseBlock>
        <h2>No Logs to display.</h2>
    </ng-template>
</div>

