    <div>
        <!-- <h2>{{user.name}}</h2>
        <h3>{{user.email}}</h3> -->
        <mat-card class="hero-card"> 
            
            <img mat-card-image src="../../assets/profile.jpg" alt="Profile Image">
            <mat-card-header>
                <mat-card-title>
                    {{user.name}}
                </mat-card-title>
                <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
                </mat-card-header>
        </mat-card>
    </div>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink='/dashboard' routerLinkActive="isActive">Dashboard</a>
    <a mat-list-item routerLink='/heroes' routerLinkActive="isActive">Heroes</a>
    <a mat-list-item routerLink='/logs'routerLinkActive="isActive">Logs</a>
    
