<div class="hero">
    <h2>My Heroes</h2>
    <!-- <ul class="heroes">
        <li *ngFor="let hero of heroes">
            <a routerLink="/detail/{{hero._id}}">
                <span class="badge">-></span> {{hero.name}}
            </a>
            <a class="delete" (click)="delete(hero)"><mat-icon>delete</mat-icon></a>
        </li>
    </ul> -->

    <mat-nav-list>
        <mat-list-item *ngFor="let hero of heroes">
        <a matLine routerLink="/detail/{{hero._id}}">{{ hero.name }}</a>
        <button mat-icon-button matTooltip="Delete Hero" matTooltipPosition="left" (click)="delete(hero)" >
            <mat-icon color="warn">delete</mat-icon>
        </button>
        </mat-list-item>
    </mat-nav-list>


    <!-- <div>
        <label for="new-hero">Hero Name: </label>
        <input matInput placeholder="Add Hero" type="text" #heroName>

        <button class="add-button" (click)="add(heroName.value); heroName.value=''">Add Hero</button>
    </div> -->
    <hr>
    <!-- <button mat-button color="primary" (click)="add(heroName.value); heroName.value=''">Add Hero</button> -->
    
    <!-- <button mat-raised-button color="primary" (click)="openDialog()">Add Hero <mat-icon>add</mat-icon></button> -->
    <button mat-fab matTooltip="Add Hero" matTooltipClass="tooltip-color" class="add-button" color="accent" (click)="openDialog()">
        <mat-icon>add</mat-icon>
    </button>
</div>
<!-- <app-hero-details [hero]="selectedHero"></app-hero-details> -->