
<a *ngIf="!showSearch" style="cursor: pointer;" (click)="showSearch=true; setFocus()" ><mat-icon>search</mat-icon></a>

    <mat-form-field *ngIf="showSearch;" class="search-field" >
        <mat-icon style="cursor: pointer;"   (click)="checkSearch()">close</mat-icon>
        <input matInput type="text" #searchBox (blur)="!searchBox.focus" (input)='search(searchBox.value)' [matAutocomplete]="auto"  autocomplete="off">
        
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option class="options" *ngFor="let hero of heroes$ | async" [value]="hero">
                <a matLine routerLink="/detail/{{hero._id}}">{{ hero.name }}</a>
            </mat-option>
            <mat-option *ngIf="!(heroes$ | async)?.length">
                No Hero
            </mat-option> 
        </mat-autocomplete>
    </mat-form-field>
