/* input{
  width: 50px !important;
} */
search-component{
  margin-bottom: 2%;
}
mat-form-field{
  width: 92%;
}
.options a{
  text-decoration: none;
  color: black;
}
.options:hover{
  background: #0087c8 !important;
}

@media only screen and (max-width: 415px) {
  mat-form-field{
    width: 42%;
  }
}




